<div class="container">
    <div class="display-4 text-center mb-4">Donate Us by Paytm</div>
    <div class="row mb-4">
      <div class="col-sm-8">
        <p>In today's era, You can support us through your mobile anytime anywhere.</p>
        <p>We will use your financial support to promote education and eradicate poverty in slum areas.</p>
        <p>Your small contribution can make a big difference in this world.</p>
        <p>
          <b>Donate us by using Paytm. Please follwow the steps to donate us: </b>
        </p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Each account has a QR Code associated with it. To find this QR Code on your Paytm app go to: <b>Profile > QR Code Icon</b></li>
            <li class="list-group-item">Open App > Accept Payment > Show Paytm QR Code</li>
            <li class="list-group-item">Click on Pay or Send</li>
            <li class="list-group-item">The default tab is the Scan Code option. Scan a Paytm QR Code of the recipient</li>
            <li class="list-group-item">Enter the amount (if not already specified) and click Send</li>
        </ul>
      </div>
      <div class="col-sm-4 text-right">
        <img src="assets/images/donate/donate-paytm/1.jpeg" class="img-fluid img-thumbnail img-sm"/>
      </div>
    </div>
  </div>