<div class="container mb-4">
  <div class="display-4 text-center">Donate into Account</div>
  <div class="row">
      <div class="col-sm-8">
        <form *ngIf="showDonationForm" [formGroup]="donation" (submit)="donationSubmit(donation)" class="form-horizontal" novalidate>
            <ul class="list-group list-group-flush text-left">
                <li class="list-group-item">
                  <!-- get name of donor -->
                  <div class="form-row">
                    <div class="form-group required col-md-6">
                      <label for="amount" class="col-form-label col-form-label-sm">Amount</label>
                      <input type="text" formControlName="amount" class="form-control form-control-sm" placeholder="Amount" autocomplete="off" maxlength="6" required appNumberOnly [ngClass]="(!donation.controls.amount.untouched)  ? (donation.controls.amount.valid ? 'is-valid' : 'is-invalid') : ''"/>
                      <show-errors [control]="donation.controls.amount"></show-errors>
                    </div>
                    <div class="form-group required col-md-6">
                      <label for="firstname" class="col-form-label col-form-label-sm">First Name</label>
                      <input type="text" formControlName="firstname" class="form-control form-control-sm" placeholder="First Name" autocomplete="off" maxlength="50" required [ngClass]="(!donation.controls.firstname.untouched)  ? (donation.controls.firstname.valid ? 'is-valid' : 'is-invalid') : ''"/>
                      <show-errors [control]="donation.controls.firstname"></show-errors>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="form-row">
                    <div class="form-group required col-md-6">
                      <label for="email" class="col-form-label col-form-label-sm">Email</label>
                      <input type="text" formControlName="email" class="form-control form-control-sm" placeholder="Email" autocomplete="off" maxlength="255" required />
                      <small *ngIf="donation.controls.email.valid || donation.controls.email.untouched" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      <show-errors [control]="donation.controls.email"></show-errors>
                    </div>
                    <div class="form-group required col-md-6">
                      <label for="phone" class="col-form-label col-form-label-sm">Phone</label>
                      <input type="text" formControlName="phone" class="form-control form-control-sm" placeholder="Phone" autocomplete="off" maxlength="15" required appNumberOnly/>
                      <small *ngIf="donation.controls.phone.valid || donation.controls.phone.untouched" class="form-text text-muted">We'll never share your phone with anyone else.</small>
                      <show-errors [control]="donation.controls.phone"></show-errors>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                    <button [disabled]="!donation.valid" class="btn btn-outline-primary">Donate Now</button>
                    <!-- [disabled]="!donation.valid" -->
                </li>
            </ul>
        </form>
        <div class="mt-4 text-center" *ngIf="!showDonationForm">
          <div class="row">
            <div class="col-sm-3">
              <span class="btn btn-outline-secondary" (click)="resetPayment()">Reset Payment</span>
            </div>
            <div class="col-sm-3">
              <div [innerHTML]="donationForm | safeHtml"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 pay-to-account text-right">
        <img src="assets/images/donate/donate-online/1.png" class="img-thumbnail img-fluid" />
    </div>
  </div>
</div>