<!-- Donate slider top -->
<app-donate-carousel></app-donate-carousel>

<!-- Donate amount online -->
<app-donate-online></app-donate-online>

<!-- Donate by account number -->
<app-donate-into-account></app-donate-into-account>

<!-- Donate by PayTm-->
<app-donate-paytm></app-donate-paytm>