<div class="container">
  <div class="row margin-top-2 margin-bottom-2">
    <div class="col text-center text-lg">Services</div>
  </div>
  <div class="row">
    <div class="col-sm-4">
        <div class="card card-size-18">
          <img class="card-img-top" src="assets/images/home-cards/1.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card card-size-18">
          <img class="card-img-top" src="assets/images/home-cards/2.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card card-size-18">
          <img class="card-img-top" src="assets/images/home-cards/3.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
    </div>
  </div>
</div>