<app-recent-events></app-recent-events>

<div class="container">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
           <!-- team-img -->
           <div class="team-block">
               <div class="team-img">
                   <img src="https://easetemplate.com/free-website-templates/motion/images/team_member_1.jpg" alt="">
                   <div class="team-content">
                       <h4 class="text-white mb0">Eliza Simon</h4>
                       <p class="team-meta">- Producer</p>
                   </div>
                   <div class="overlay">
                       <div class="text">
                           <h4 class="mb0 text-white">Eliza Simon</h4>
                           <p class="mb30 team-meta">- Producer</p>
                           <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton pretiume.</p>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <!-- /.team-img -->
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
           <!-- team-img -->
           <div class="team-block">
               <div class="team-img">
                   <img src="https://easetemplate.com/free-website-templates/motion/images/team_member_2.jpg" alt="">
                   <div class="team-content">
                       <h4 class="text-white mb0">Gerald Ferguson</h4>
                       <p class="team-meta">- Creative Director</p>
                   </div>
                   <div class="overlay">
                       <div class="text">
                           <h4 class="mb0 text-white">Gerald Ferguson</h4>
                           <p class="mb30 team-meta">- Creative Director</p>
                           <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton pretiume.</p>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <!-- /.team-img -->
         <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
           <!-- team-img -->
           <div class="team-block">
               <div class="team-img">
                   <img src="https://easetemplate.com/free-website-templates/motion/images/team_member_3.jpg" alt="" class="img-fluid">
                   <div class="team-content">
                       <h4 class="text-white mb0">William Murphy</h4>
                       <p class="team-meta">- Project Manager</p>
                   </div>
                   <div class="overlay">
                       <div class="text">
                           <h4 class="mb0 text-white">William Murphy</h4>
                           <p class="mb30 team-meta">- Project Manager</p>
                           <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton pretiume.</p>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <!-- /.team-img -->
         <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
           <!-- team-img -->
           <div class="team-block">
               <div class="team-img">
                   <img src="https://easetemplate.com/free-website-templates/motion/images/team_member_4.jpg" alt="" class="img-fluid">
                   <div class="team-content">
                       <h4 class="text-white mb0">Barbara Cook</h4>
                       <p class="team-meta">- Producer</p>
                   </div>
                   <div class="overlay">
                       <div class="text">
               
                           <h4 class="text-white mb0">Barbara Cook</h4>
                           <p class="mb30 team-meta">- Producer</p>
                           <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton pretiume.</p>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <!-- /.team-img -->
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
           <!-- team-img -->
           <div class="team-block">
               <div class="team-img">
                   <img src="https://easetemplate.com/free-website-templates/motion/images/team_member_5.jpg" alt="" class="img-fluid">
                   <div class="team-content">
                       <h4 class="text-white mb0">Derek Bybee</h4>
                       <p class=" mb30 team-meta">- Creative Director</p>
                   </div>
                   <div class="overlay">
                       <div class="text">
                           <h4 class="text-white mb0">Derek Bybee</h4>
                           <p class=" mb30 team-meta">- Creative Director</p>
                           <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton pretiume.</p>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <!-- /.team-img -->
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
           <!-- team-img -->
           <div class="team-block">
               <div class="team-img">
                   <img src="https://easetemplate.com/free-website-templates/motion/images/team_member_6.jpg" alt="" class="img-fluid">
                   <div class="team-content">
                       <h4 class="text-white mb0">Lucille Webster</h4>
                       <p class=" mb30 team-meta">- Cinematographer + Steadicam Operator</p>
                   </div>
                   <div class="overlay">
                       <div class="text">
                           <h4 class="text-white mb0">Lucille Webster</h4>
                           <p class="team-meta">- Cinematographer + Steadicam Operator</p>
                           <p>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete euismod justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus quis egeaecenas necese purus quaroin tincidunt neque malesuda vulputate lecton pretiume.</p>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <!-- /.team-img -->
   </div>
</div>
