<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="assets/images/home-carousel/1.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
            <h5>Lorem ipsum dolor sit amet</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non libero id odio tempus tincidunt. Mauris volutpat porta ante vitae gravida. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur scelerisque lorem nunc, ut molestie ligula tincidunt ac. Cras a elit suscipit, pulvinar lorem et, cursus augue. Etiam luctus pharetra interdum. In elit mi, aliquet a dui eu, pulvinar ultricies nunc.</p>
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/images/home-carousel/3.png" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
            <h5>Nulla quis dolor elementum</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non libero id odio tempus tincidunt. Mauris volutpat porta ante vitae gravida. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur scelerisque lorem nunc, ut molestie ligula tincidunt ac. Cras a elit suscipit, pulvinar lorem et, cursus augue. Etiam luctus pharetra interdum. In elit mi, aliquet a dui eu, pulvinar ultricies nunc.</p>
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/images/home-carousel/2.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
            <h5>Vestibulum risus nunc</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non libero id odio tempus tincidunt. Mauris volutpat porta ante vitae gravida. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur scelerisque lorem nunc, ut molestie ligula tincidunt ac. Cras a elit suscipit, pulvinar lorem et, cursus augue. Etiam luctus pharetra interdum. In elit mi, aliquet a dui eu, pulvinar ultricies nunc.</p>
          </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>