<div class="col text-center display-4">Our Team</div>

  <div class="ticker-wrap">
    <div class="ticker">
      <div class="ticker__item mr-2">
          <img src="assets/images/about/team/1.jpg" class="img-thumbnail" alt="Member-1"/>
      </div>

      <div class="ticker__item mr-2">
          <img src="assets/images/about/team/2.jpg" class="img-thumbnail" alt="Member-1"/>
      </div>

      <!-- <div class="ticker__item mr-2">
          <img src="assets/images/about/team/3.jpg" class="img-thumbnail" alt="Member-1"/>
      </div>
      
      <div class="ticker__item mr-2">
            <img src="assets/images/about/team/1.jpg" class="img-thumbnail" alt="Member-1"/>
        </div>
  
        <div class="ticker__item mr-2">
            <img src="assets/images/about/team/2.jpg" class="img-thumbnail" alt="Member-1"/>
        </div> -->
  
        <!-- <div class="ticker__item">
            <img src="assets/images/about/team/3.jpg" class="img-thumbnail" alt="Member-1"/>
        </div>

        <div class="ticker__item">
            <img src="assets/images/about/team/1.jpg" class="img-thumbnail" alt="Member-1"/>
        </div>
    
        <div class="ticker__item">
            <img src="assets/images/about/team/2.jpg" class="img-thumbnail" alt="Member-1"/>
        </div>
    
        <div class="ticker__item">
            <img src="assets/images/about/team/3.jpg" class="img-thumbnail" alt="Member-1"/>
        </div> -->
    </div>
  </div>