<app-home-carousel></app-home-carousel>

<app-home-cards></app-home-cards>

<app-home-image-gallery></app-home-image-gallery>

<app-home-time-line></app-home-time-line>

<app-home-quote-carousel></app-home-quote-carousel>