<div class="container">
    <div class="row">
      <div class='col-md-offset-2 col-md-12 text-center mb-2'>
      <h2>Quote Carousel</h2>
      </div>
    </div>
    <div class='row'>
        <div class='col-md-12'>
          <div class="carousel slide" data-ride="carousel" id="quote-carousel">
            <!-- Bottom Carousel Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#quote-carousel" data-slide-to="1"></li>
                <li data-target="#quote-carousel" data-slide-to="2"></li>
            </ol>
                
            <!-- Carousel Slides / Quotes -->
            <div class="carousel-inner">
                
              <!-- Quote 1 -->
              <div class="carousel-item active">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-3 text-center">
                      <img class="img-circle img-thumbnail" src="http://www.reactiongifs.com/r/overbite.gif" style="width: 100px;height:100px;">
                    </div>
                    <div class="col-sm-9">
                      <p>
                        <i class="fa fa-quote-left"></i>
                        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!
                        <i class="fa fa-quote-right"></i>
                      </p>
                      <small>Someone famous</small>
                    </div>
                  </div>
                </blockquote>
              </div>

              <!-- Quote 2 -->
            <div class="carousel-item">
              <blockquote>
                <div class="row">
                  <div class="col-sm-3 text-center">
                    <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/mijustin/128.jpg" style="width: 100px;height:100px;">
                  </div>
                  <div class="col-sm-9">
                    <p>
                      <i class="fa fa-quote-left"></i>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.
                      <i class="fa fa-quote-right"></i>
                    </p>
                    <small>Someone famous</small>
                  </div>
                </div>
              </blockquote>
            </div>

            <!-- Quote 3 -->
            <div class="carousel-item">
              <blockquote>
                <div class="row">
                  <div class="col-sm-3 text-center">
                    <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/keizgoesboom/128.jpg" style="width: 100px;height:100px;">
                  </div>
                  <div class="col-sm-9">
                    <p>
                      <i class="fa fa-quote-left"></i>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.
                      <i class="fa fa-quote-right"></i>
                    </p>
                    <small>Someone famous</small>
                  </div>
                </div>
              </blockquote>
            </div>

          </div>

          <!-- Carousel Buttons Next/Prev -->
          
          <a data-slide="prev" href="#quote-carousel" class="carousel-control-prev"><i class="fa fa-chevron-left"></i></a>
          <a data-slide="next" href="#quote-carousel" class="carousel-control-next"><i class="fa fa-chevron-right"></i></a>

        </div>
      </div>
  </div>
</div>