<div class="container mb-4">
    <div class="display-4 text-center">Donate into Account</div>
    <div class="row">
        <div class="col-sm-4 pay-to-account">
            <!-- <img src="assets/images/donate/donate-account/1.png" /> -->
            <div class="display-5 text-center">Donate</div>
            <div class="display-5 text-center">&#8377; 1/Day</div>
            <div class="display-5 text-center">To Support Child Education</div>
        </div>
        <div class="col-sm-8">
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">Account name: Open Eyes Foundation</li>
                <li class="list-group-item">Account no. 2586101005958</li>
                <li class="list-group-item">IFSC : CNRB0002586</li>
                <li class="list-group-item">Branch : Canara bank sec 40 C Chandigarh</li>
                <li class="list-group-item">Mobile : 7508408205</li>
            </ul>
        </div>
    </div>
</div>