<div class="text-center p-5 mb-4 about-section display-4">
  About Us
</div>
<div class="container mb-4">
  <div class="row">
    <div class="col-sm-12">
      <p>
        {{SITE_BASE_NAME}}, {{SITE_LOCATION}} is a non-government organization which is established by Mr. Sandeep Kumar Badsra. It has been working since November-2016.  It is a voluntary organization registered under the Section act-XX1 of 1860.
      </p>
      <p>
        It has been working on different issues such as Education, Environment, Health,
        Human Rights, Drug Control, Women Empowerment, Beti Bachao Beti Padhao, Motivational
        Session, etc.
      </p>
    </div>
  </div>
  <div class="col text-center display-4">Our Aims</div>
  <div class="row">    
    <div class="col-sm-8">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="fa fa-check-square-o"></i>
            Our main aim is to provide <b>Free Education</b> to underprivileged children.
          </li>
          <li class="list-group-item">
            <i class="fa fa-check-square-o"></i>
            We are willing to help those who are in need of Education, Books, Stationary items, Coaching, etc. 
          </li>
          <li class="list-group-item">
            <i class="fa fa-check-square-o"></i>
            Further, We are willing to help those who need any medical help and awareness.
          </li>
          <li class="list-group-item">
            <i class="fa fa-check-square-o"></i>
            Creating environmental awareness in the community.
          </li>
          <li class="list-group-item">
            <i class="fa fa-check-square-o"></i>
            Create awareness about social activities like Clean & Green Society, Traffic awareness, Green revolution, etc.
          </li>
        </ul>
    </div>
    <div class="col-sm-4">
      <img class="img-fluid" src="assets/images/about/1.jpg"/>
    </div>
  </div>

  <div class="col text-center display-4">Mission</div>
  <div class="row">
    <div class="col-sm-4">
        <img class="img-fluid" src="assets/images/about/2.png"/>
    </div>
    <div class="col-sm-8">
      <p>
          {{SITE_BASE_NAME}}, {{SITE_LOCATION}} is empowering every needed Child, Youth & Women through relevant Education, Innovative Health Care and running such programmes while providing livelihood according to the talent of children.
      </p>
    </div>
  </div>

  <div class="col text-center display-4">Vision</div>
  <div class="row">
    <div class="col-sm-8">
      <p>
          Bringing united to progressive change in the lives of such needy children, Youth & Women with a life-cycle approach to development.
      </p>
    </div>
    <div class="col-sm-4">
        <img class="img-fluid" src="assets/images/about/3.jpeg"/>
    </div>
  </div>
</div>

<app-about-us-our-team></app-about-us-our-team>