.about-section {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+24,e1e1e1+33,e1e1e1+33,e1e1e1+49,f6f6f6+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffffff 0%, #f1f1f1 24%, #e1e1e1 33%, #e1e1e1 33%, #e1e1e1 49%, #f6f6f6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ffffff 0%,#f1f1f1 24%,#e1e1e1 33%,#e1e1e1 33%,#e1e1e1 49%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffffff 0%,#f1f1f1 24%,#e1e1e1 33%,#e1e1e1 33%,#e1e1e1 49%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}