<div class="container mb-5">
  <div class="row">
    <h3 class="col text-center display-4 mb-2">News</h3>
    <!-- <hr class="bg-dark w-25 ml-0"/> -->
  </div>
    <div class="row">
        <div class="col-md-8">
            <p class="lead">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            </p>
            <p>
                When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <ul class="list-unstyled pl-4">
                <li><i class="fa fa-check"></i> Lorem Ipsum is simply dummy text</li>
                <li><i class="fa fa-check"></i> Lorem Ipsum is simply dummy text</li>
                <li><i class="fa fa-check"></i> Lorem Ipsum is simply dummy text</li>
            </ul>
            <a href="#" class="btn btn-outline-primary rounded-0"> Read More</a>
        </div>
        <div class="col-md-4 mt-5">
            <img class="card-img-top" src="https://dummyimage.com/300x300/c7c7c7/000.png" alt="Card image cap">
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-4 mt-5">
            <img class="card-img-top" src="https://dummyimage.com/300x300/c7c7c7/000.png" alt="Card image cap">
        </div>
        <div class="col-md-8">
            <p class="lead">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            </p>
            <p>
                When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <ul class="list-unstyled pl-4">
                <li><i class="fa fa-check"></i> Lorem Ipsum is simply dummy text</li>
                <li><i class="fa fa-check"></i> Lorem Ipsum is simply dummy text</li>
                <li><i class="fa fa-check"></i> Lorem Ipsum is simply dummy text</li>
            </ul>
            <a href="#" class="btn btn-outline-primary rounded-0"> Read More</a>
        </div>
    </div>

    <div class="row mt-5">
            <div class="col-md-8">
                <p class="lead">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                </p>
                <p>
                    When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <ul class="list-unstyled pl-4">
                    <li><i class="fa fa-check"></i> Lorem Ipsum is simply dummy text</li>
                    <li><i class="fa fa-check"></i> Lorem Ipsum is simply dummy text</li>
                    <li><i class="fa fa-check"></i> Lorem Ipsum is simply dummy text</li>
                </ul>
                <a href="#" class="btn btn-outline-primary rounded-0"> Read More</a>
            </div>
            <div class="col-md-4 mt-5">
                <img class="card-img-top" src="https://dummyimage.com/300x300/c7c7c7/000.png" alt="Card image cap">
            </div>
        </div>
</div>