.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.donate-image-1 {
    background-image: url(/assets/images/donate/donate-carousel/1.jpg);
}

.donate-image-2 {
    background-image: url(/assets/images/donate/donate-carousel/2.jpg);
}

.donate-image-3 {
    background-image: url(/assets/images/donate/donate-carousel/3.jpg);
}