<div id="carouselExampleIndicators" class="carousel slide mb-4" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active donate-image-1">
        <!-- <img class="d-block w-100" src="assets/images/donate/1.jpg" alt="First slide"> -->
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>...</h5> -->
          <p class="display-4">Your small donation can make a difference for child education</p>
        </div>
      </div>
      <div class="carousel-item donate-image-2">
        <!-- <img class="d-block w-100" src="..." alt="Second slide"> -->
        <div class="carousel-caption d-none d-md-block">
            <!-- <h5>...</h5> -->
            <p class="display-4">Your small donation can make a difference for child education</p>
        </div>
      </div>
      <div class="carousel-item donate-image-3">
        <!-- <img class="d-block w-100" src="..." alt="Third slide"> -->
        <div class="carousel-caption d-none d-md-block">
            <!-- <h5>...</h5> -->
            <p class="display-4">Your small donation can make a difference for child education</p>
          </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>